<article id="item">
<header>
<h1><%= h @item.title %></h1>
<p id="close"><a href="#">Close</a></p>
<figure>
<img src="/images/96965816_817708178d.jpg" width="400" height="420">
</figure>
<h2>Images</h2>
<ul id="image-thumbs">
<li><a href="#"><img src="images/96965816_817708178d.jpg?v=0" width="50" height="56"></a></li>
<li><a href="#"><img src="images/100655924_9b26912410.jpg?v=0" width="50" height="56"></a></li>
</ul>
<h2>Videos</h2>
<ul id="video-thumbs">
<li><a href="#"><img src="images/100655924_9b26912410.jpg?v=0" width="50" height="56"></a></li>
<li><a href="#"><img src="images/96965816_817708178d.jpg?v=0" width="50" height="56"></a></li>
</ul>
<section id="description">
<%= simple_format(@item.description) %>
</section>
<section id="explore">
<section id="related">
<h3>Related</h3>
<ul>
<li><a href="#">Volcanoes</a></li>
<li><a href="#">Rocks</a></li>
<li><a href="#">Geology</a></li>
</ul>
</section>
<section id="tags">
<h3>Tags</h3>
<p>#ampedweb #wdx</p>
</section>
<section id="elsewhere">
<h3>Elsewhere</h3>
<ul>
<li class="wikipedia"><a href="#">Wikipedia</a></li>
</ul>
</section>
</section>
</article>