<h1>Textops</h1>

<p>blah</p>

<form action="/download" method="post">
  <input type="text" name="text" placeholder="Text">
  <input type="text" name="foreground" placeholder="Text colour (example: black)">
  <input type="text" name="background" placeholder="Background colour (example: white)">
  <input type="submit" value="Download desktop">
</form>
