* { margin: 0; padding: 0; }
body { padding: 15px; background-color: #ffffff; color: #121212; width: 500px; margin-left: auto; margin-right: auto; }
body, input, select, textarea, table, tr, td, h1, h2, h3, h4, h5, h6 { font: 100%/1.4em Helvetica, serif; }
h1 { font-size: 200%; font-weight: bold; text-align: center; margin: 0 0 0 0; }
h2 { font-size: 140%; font-weight: bold; margin: 1.5em 0 0.0em 0; }
p, ul, blockquote { margin-bottom: 1.4em; }
ul { margin-left: 3em; }

input {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
}
input[type='submit'] { font-size: 150%; }
