<h1>Generate command line to encode video for the iPhone, iPod Touch, and the iPod Nano using mencoder</h1>
<p>It is possible to use mencoder (part of mplayer) to re-encode video so you can watch it on your iPhone (and iPod Touch and iPod Nano); however is can be difficult to install and user mencoder. This page will help you to:</p>
<ul>
  <li>install mplayer/mencoder</li>
  <li>generate the correct command to
   run that will encode video </li>
</ul>