<div id="content-wrapper">
  <h1>About Git Fight!</h1>

  <p class="intro">When you're browsing GitHub, you often come across new and interesting projects and the people behind them - visiting their profile page shows you plenty of information about their projects. But what the profile doesn't tell you is how popular they, and their projects are as a whole - how <strong>known, trusted, and interesting</strong> they are.</p>

  <p>But how to determine this? Gauging trust and quality is difficult for a computer to do.</p>
  
  <p>GitHub users don't live in vacuums - they are linked to other users through followers and repo watchers, and of course repo forks. This <strong>social data</strong> can be used to estimate a user's quality and trustworthiness, and also their volume of output.</p>
  
  <h2>Enter Git Fight!</h2>
  <p>Git Fight! combines a user's:</p>
  
  <ul>
    <li>total number of watchers across their repos</li>
    <li>number of forks of their repos</li>
    <li>followers and followings count</li>
    <li>and number of gists</li>
  </ul>
  
  <p>into a single number, the <strong>Git Fight! score</strong>. The actual algorithm weights these numbers so that original repos are rated more than forks, and gists are worth far less than repos, among other things.</p>
  
  <h2>Details, details</h2>
  <p>This works off of the assumption that a user who creates high-quality, <strong>interesting projects</strong> will gain <strong>more watchers, forks, and followers</strong> than other users. Larger projects will also tend to garner more watchers than smaller projects.</p>
  
  <p>The Git Fight! score should be taken with a <strong>grain of salt</strong>, of course. It assumes that everyone participates in the social aspects of GitHub. This is a great reason to promote your projects within the community.</p>

  
  <p class="info disclaimer">Git Fight! is not associated with GitHub. Copyright &copy; 2010 <a href=
"http://blog.bloople.net/">Brenton Fletcher</a>. <a href="http://github.com/bloopletech/sinatra_apps/tree/master/git_fight/">Source on GitHub</a>.</p>
</div>