<!DOCTYPE html>
<html>
  <head>
    <title>Git Fight!</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
  </head>
  <body>
    <%= yield %>
    
    <p class="info disclaimer">Git Fight! is not associated with GitHub. These figures are only a proxy for a user's actual contribution levels. User data is cached for a week at a time. Copyright &copy; 2010 <a href=
"http://blog.bloople.net/">Brenton Fletcher</a>. <a href="http://github.com/bloopletech/sinatra_apps/tree/master/git_fight/">Source on GitHub</a>.</p>
  </body>
</html>
