* { margin: 0; padding: 0; }
body { padding: 15px; background-color: #f5f5dc; color: #009000; }
body, input, select, textarea, table, tr, td, h1, h2, h3, h4, h5, h6 { font: 100%/1.4em "Georgia", serif; }
h1 { font-size: 200%; font-weight: bold; font-style: italic; text-align: center; margin: 0 0 0 0; }
img { border: none; }
/*li { margin-left: 30px; }*/
p { margin-bottom: 1.4em; }
form { text-align: center; }

#wrapper { width: 980px; margin: 20px auto; }

p.info { width: 400px; margin-top: 1.4em; margin-left: auto; margin-right: auto; }
p.disclaimer { font-size: 80%; line-height: 1.4em; color: #a0a0a0; margin-top: 5em; }
span.vs { font-style: italic; }

#fight input { font: 90%/1.4em "Georgia", serif; }
#fight input[type='text'] { width: 175px; border: 1px solid #009000; padding: 2px; color: #000000; }
#fight input[type='submit'] { padding: 3px; }

#results { margin: 1.4em auto 0 auto; border-collapse: collapse; }
#results td { padding: 10px; border-bottom: 1px solid #dddddd; }
#results td:first-child { text-align: right; padding-right: 10px; }
#results td.vertical-separator { border-right: 1px solid #dddddd; padding: 0; width: 0; }
#results td.horizontal-separator { border-bottom: 1px solid #dddddd; }
#results td:last-child { text-align: left; padding-left: 10px; }

#results tr.scores td { background-color: #28d728; color: #f3f3da; }

div.username { font-size: 160%; line-height: 1.4em; }
div.name { font-size: 90%; line-height: 1.4em; }
div.number { font-size: 160%; line-height: 1.4em; }
div.winner { font-size: 200%; }