<p class="info">Enter two GitHub usernames into the boxes below, and my algorithm will work out who is the better contributor by analyzing their GitHub stats.</p>
<div id="replaceable">
  <form id="fight" action="/fight" method="get">
    <input type="text" name="user_1"> <span class="vs">vs.</span>
    <input type="text" name="user_2">
    <input type="submit" value="Fight!">
  </form>
</div>
<p class="info disclaimer">User Fight! is not associated with GitHub. These figures are based in fact, but they are only a weak proxy for a user's actual contribution levels.</p>