<p class="info">Enter two GitHub usernames into the boxes below, and my algorithm will work out who is the better contributor by analyzing their GitHub stats.</p>
<div id="replaceable">
  <%= erb(:form, :layout => false) %>
</div>
<p class="info disclaimer">User Fight! is not associated with GitHub. These figures are based in fact, but they are only a weak proxy for a user's actual contribution levels.</p>