<p class="intro">Enter two GitHub usernames into the boxes below, and my algorithm will work out who is the better contributor by analyzing their GitHub stats.</p>
<form id="fight" action="/fight" method="get">
  <input type="text" name="user_1"> <span class="vs">vs.</span>
  <input type="text" name="user_2">
  <input type="submit" value="Fight!">
</form>